.image{

    height : 200px;
    width : 200px;
    border : 2px solid black;
    border-radius : 10px;
    margin : 10px 20px ;

}
img{

    border-radius : 10px;
    height : 100%;
    width : 100%;
}
table,td,th,tr{
    border : 2px solid black;
    padding : 5px;
    border-radius : 5px;
    margin : 10px;

}
th,td{
    height : 50px;
    width : 100px;
    color : black;
    background-color : white;
    font-family : Arial;

}
.card{
    border : 2px solid blue;
}
tr,td,th{
    margin : 20px;
}
button{


    margin: 40px;
    background-color : white;
    font-family: Arial;
    border-radius : 10px;
    height : 50px;
    width : 50px;
    top : 70px;
    font-size : 30px;
    border-radius : 100px;


}
.prev_button{

    left : 22%;
}
.next_button{

    left : 60%;
}
.b{
    margin : 50px;
    border : 1px solid red;
    position : absolute;
    top : 0px;
    filter : blur(1px);
    z-index : -1;
    height : 80%;
    width : 70%;



}
button:hover{
    color : white;
    background-color: black;
}

